# Artifacts
/Artifacts/

# Distribution
/Automation/Scripts/build/
/Automation/Scripts/dist/
/Sources/*/build/
/Sources/*/dist/
/Sources/*/*/__metadata__.py

# Environment
/environment.json

# Logs
*.log

# Python
__pycache__/
*.egg-info/

# Python virtual environment
.venv/

# Visual Studio Code
/.vscode/settings.json
