# Artifacts
/artifacts/

# Distribution
/toolkit/build/
/toolkit/dist/

# Environment
environment.json

# Generated metadata
__metadata__.py

# Logs
*.log

# Python
__pycache__/
*.egg-info/

# Python virtual environment
.venv/

# Visual Studio Code
.vscode/
